:root {
  --amarelo-dende: #ffd800;
  --azul-dende: #609bd2;
  --cinza-borda: #d6d6d6;
  --cinza-texto: #444444;
  --cinza-fundo: #f2f2f2;
  --laranja-dende: #f6833c;
  --laranja-dende-transparent: #fcd1b6;
  --verde-dende: #31b9a5;
  --verde-dois-dende: #61c190;
}

a {
  color: black;
}

a:hover {
  color: var(--laranja-dende);
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--cinza-fundo);
  color: var(--cinza-texto);
}

.button-laranja {
  background-color: var(--laranja-dende);
  border-color: var(--laranja-dende);
/*   height: 3em;
  margin-bottom: 2em; */
}

.button-laranja:hover {
  background-color: var(--verde-dende);
  border-color: var(--verde-dende);
/*   height: 3em;
  margin-bottom: 2em; */
}

.buttons-add-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 10vh 20vw;
  text-align: center;
}

.buttons-add-container img {
  height: 75px;
  padding: 1vh 1vw;
}

.buttons-add-container p {
  font-size: 12pt;
}

.home-buttons {
  margin: 5vh 20vw 1vh;
  font-size: 12pt;
}

 @media (min-width: 700px) {
  .buttons-add-container img {
    height: 100px;
  }

  .buttons-add-container p {
    font-size: 16pt;
  }

  .home-buttons .link {
  /*     margin: 5vh 20vw 1vh; */
    font-size: 21pt;
  }
}