:root {
  --laranja-dende: #f6833c;
  --azul-dende: #609bd2;
  --verde-dende: #31b9a5;
  --verde-dois-dende: #61c190;
  --amarelo-dende: #ffd800;
  --cinza-claro: #e5e5e5;
  --laranja-dende-transparent: #fcd1b6;
}

a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

body {
  margin: 0 auto;
  /* text-align: center; */
  font-size: 14pt;
}

h1, h2 {
  padding-top: 2vh;
}

.button-laranja {
  background-color: var(--laranja-dende);
  border-color: var(--laranja-dende);
  height: 3em;
  margin-bottom: 2em;
}

.button-laranja:hover {
  background-color: var(--verde-dende);
  border-color: var(--verde-dende);
  height: 3em;
  margin-bottom: 2em;
}

.button-verde {
  background-color: var(--verde-dende);
  border-color: var(--verde-dende);
  color: black;
  font-size: 16pt;
}

.button-verde:hover {
  background-color: var(--laranja-dende);
  border-color: var(--laranja-dende);
  color: gray;
  margin-bottom: 2em;
}

/* LOGIN.CSS */
.App-logo {
  margin: 3vh auto 2vh;
  text-align: center;
}

.App-logo img {
  /* height: 50vh; */
  height: 40vh;
}

.login-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 90%;
  /* margin: 0 25vh; */
}

.form-label {
  color: var(--laranja-dende);
  margin: 0 5vw;
  max-width: 80vh;
  text-align: left !important;
}

.login-form {
  margin: 1vh auto 0;
  width: 90%;
  /* width: 50vh; */
}

.login-container .text-muted {
  margin: 1.5vh auto;
  max-width: 90%;
  text-align: center;
}

.login-container .link-container {
  margin: 2vh auto;
}

@media(min-width: 700px) {
  .App-logo {
    margin: 2vh auto;
    text-align: center;
  }
  
  .App-logo img {
    /* height: 50vh; */
    height: 45vh;
  }

  .login-container {
    display: flex;
    font-size: 20px;
    flex-flow: column;
    margin: 2vh auto;
    max-width: 60%;
    /* margin: 0 25vh; */
  } 
}

/* FIM PAG LOGIN */