:root {
  --amarelo-dende: #ffd800;
  --azul-dende: #609bd2;
  --cinza-borda: #d6d6d6;
  --cinza-texto: #444444;
  --cinza-fundo: #f2f2f2;
  --laranja-dende: #f6833c;
  --laranja-dende-transparent: #fcd1b6;
  --verde-dende: #31b9a5;
  --verde-dois-dende: #61c190;
}

/* CSS AGENDA DE ENCOMENDAS */
.calendar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2vh 8vw 4vh;
}

.calendar-header .calendar-date {
  border-bottom: 3px solid var(--laranja-dende);
}

.calendar-header .add-button-calendar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 1vh;
}

.calendar-header .add-button-calendar img {
  height: 10vh;
}

.calendar-header .add-button-calendar p {
  font-size: 12pt;
  line-height: 12pt;
  margin-bottom: 0;
  padding-top: 1vh;
  text-align: center;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 2vh 0 0 15vw;
  width: 80vw;
}

.calendar-card {
  background-color: white;
  border: solid 1px var(--cinza-borda);
  box-shadow: 2px 2px 5px var(--cinza-texto);
  display: flex;
  font-size: 0.8em;
  flex-direction: column;
  margin: 1vh auto 4vh;
  padding: 3vh 10vw 1vh 5vw;
  width: 50vh;
}

.calendar-card .client-name {
  font-style: italic;
  font-weight: 600;
}

.calendar-card .list-item {
  background: none;
  border-radius: 10px;
  font-weight: 300;
  margin-bottom: 1vh;
  padding: 1vh 1vw 1vh 5vw;
}

.calendar-card .order-details p {
  font-weight: 400;
  font-style: italic;
  margin: 2vh 0 0;
}

.calendar-card .order-details span {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.filter-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 1vh 5vh;
}

.filter-buttons-container .filter-button {
  font-size: 0.8em;
}

.filter-text {
  display: flex;
  flex-direction: row;
  padding: 2vh 5vh;
  font-size: 0.8em;
}

@media (min-width: 700px) {
  .calendar-header {
    padding: 2vh 25vw 4vh;
  }

  .calendar-header .calendar-date {
    font-size: 21pt;
  }

  .calendar-header .add-button-calendar img {
    height: 10vh;
  }

  .calendar-header .add-button-calendar p {
    font-size: 14pt;
  }

  .calendar-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 15vw 2vh 0;
    width: 80vw;
  }

  .calendar-card {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    margin: 2vh 2vw;
    padding: 5vh 2vw 2vh 3vw;
    width: 45vh;
  }

  .calendar-card .list-item {
    padding: 1vh 1vw 1vh 3vw;
  }

  .filter-buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 1vh 40vh;
  }

  .filter-buttons-container .filter-button {
    font-size: 1.2em;
  }

  .filter-text {
    display: flex;
    flex-direction: row;
    padding: 2vh 45vh;
    font-size: 1.2em;
  }
}

/* FIM CALENDARIO DE ENCOMENDAS */

/* INICIO PAG ADD ENCOMENDA (ORDER) */
.add-order-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4vh 10vw 4vh 0;
}

.add-order-title {
  border-bottom: 3px solid var(--laranja-dende);
  margin: 2vh auto;
  width: 50vw;
}

.add-order-header .link-add-client {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 1vh;
}

.add-order-header .link-add-client img {
  height: 8vh;
}

.calendar-header .link-add-client p {
  font-size: 8pt;
  line-height: 12pt;
  margin-bottom: 0;
  padding-top: 1vh;
  text-align: center;
}

.add-order-container {
  display: flex;
  font-size: 16px;
  flex-flow: column;
  margin: 2vh auto;
  max-width: 80%;
}

/* .add-order-container .link-add-client p {
  border-bottom: 1vh solid var(--verde-dende);
  font-weight: 300;
  margin: 0 4vw;
} */

.add-order-container .list-client-select {
  border: none;
  color: var(--cinza-claro);
  margin: 2vh auto 0;
  outline: none;
  width: 60%;
}

.add-order-container .list-client-select:hover {
  opacity: 0.5;
}

.row-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 15px;
}

.label-form {
  margin: 2vh 0 0;
}

.row-form .product-input {
  margin: 2vh auto;
  max-width: 50%;
}

.row-form .qtd-input {
  margin: 2vh auto;
  max-width: 20%;
}

.check-input-button {
  background-color: transparent;
  border: none;
  margin: 6vh 1vh 1vh 0;
  padding: none;
}

.check-input-button:hover {
  background-color: transparent;
  border: none;
  opacity: 0.7;
}

.check-input-button:disabled {
  background-color: transparent;
  opacity: 0.5;
}

.select-row {
  display: flex;
  margin: 2vh 5vw;
  justify-content: space-around;
}

.order-button {
  margin: 2vh auto;
}

@media (min-width: 700px) {
  .add-order-header {
    padding: 4vh 25vw 4vh 5vw;
  }

  .add-order-title {
    width: 18vw;
  }

  .add-order-container {
    max-width: 60%;
  }
}

/* FIM PAG CADASTRAR ENCOMENDA - SEM RESPONSIVIDADE */
